/* General Styles */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}


header {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

nav .logo h1 {
    font-family: 'Fugaz One', cursive;
    font-size: 30px;
    color: #EE3A43;
    padding-left: 50px;
}

nav .nav-links {
    list-style: none;
    display: flex;
    gap: 80px;
}

nav .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

nav .nav-links li a:hover {
    color: #FFD700;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Favorites Section */
.favorites h2 {
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 30px;
}

.favorite-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    color: #333;
}

.favorite-item .restaurant-name {
    font-weight: bold;
}

.favorite-item .restaurant-info {
    color: #666;
    margin-left: 10px;
}

.favorite-icon {
    color: #FF4500;
    font-size: 24px;
}

