<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="favorites.css">
    <title>Favorites - Atlanta Food Finder</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>Atlanta Food Finder</h1>
            </div>
            <ul class="nav-links">
                <li><a href="homepage.html">Home</a></li>
                <li><a href="#">Map</a></li>
                <li><a href="#">Favorites</a></li>
                <input href="login.html" type="image" src="images/log-in-button.png" alt="Log In" />
            </ul>
        </nav>
    </header>

    <main>
        <section class="favorites">
            <h2>★ Favorites</h2>
            <div class="favorite-item">
                <span class="restaurant-name">Suite Food Lounge</span>
                <span class="restaurant-info">| 0.7 mi | New American Cuisine | $$$ | 65% Recommended</span>
                <span class="favorite-icon">★</span>
            </div>
            <div class="favorite-item">
              <span class="restaurant-name">South City Kitchen</span>
              <span class="restaurant-info">| 1.2 mi | Southern Cuisine | $$ | 75% Recommended</span>
              <span class="favorite-icon">★</span>
          </div>
          <div class="favorite-item">
              <span class="restaurant-name">South City Kitchen</span>
              <span class="restaurant-info">| 1.2 mi | Southern Cuisine | $$ | 75% Recommended</span>
              <span class="favorite-icon">★</span>
          </div>
          <div class="favorite-item">
              <span class="restaurant-name">South City Kitchen</span>
              <span class="restaurant-info">| 1.2 mi | Southern Cuisine | $$ | 75% Recommended</span>
              <span class="favorite-icon">★</span>
          </div>
          <div class="favorite-item">
              <span class="restaurant-name">South City Kitchen</span>
              <span class="restaurant-info">| 1.2 mi | Southern Cuisine | $$ | 75% Recommended</span>
              <span class="favorite-icon">★</span>
          </div>

            <!-- Repeat for other favorite items -->
        </section>
    </main>

    
</body>
</html>
