<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="homepage.css"> <!-- Link your CSS file here -->
    <title>Atlanta Food Finder</title>
    <style>
        body {
            background-image: url('images/restauraunt-homepage.jpg');
            background-size: cover; /* Makes the background cover the whole page */
            background-repeat: no-repeat; /* Prevents the image from repeating */
            background-position: center; /* Centers the image */
        }
    </style>

</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>Atlanta Food Finder</h1>
            </div>
            <ul class="nav-links">
                <li><a href="homepage.html">Home</a></li>
                <li><a href="map.html">Map</a></li>
                <li><a href="favorites.html">Favorites</a></li>
                <input href="login.html" type="image" src="images/log-in-button.png" alt="Log In" />
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h2>Search for the</h2>
            <h3>Best Food in Atlanta</h3>
            <p>FIND THE TOP RATED RESTAURANTS THROUGHOUT THE CITY</p>
            <form class="search-form">
                <input type="text" id="name" placeholder="Name of Restaurant" />
                <input type="text" id="type" placeholder="Cuisine Type" />
                <input type="text" id="location" placeholder="Location" />
                <input type="image" src="images/search-icon.png" alt="Search" />
            </form>
        </section>


    </main>

    
</body>
</html>
