{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'AtlantaFoodFinder/location.css' %}"> <!-- Link your CSS file here -->
    <title>Atlanta Food Finder</title>

</head>
<body>
<header>
    <nav>
        <div class="logo">
            <h1>Atlanta Food Finder</h1>
        </div>
        <ul class="nav-links">
            <li><a href="{% url "index" %}">Home</a></li>
            <li><a href="{% url "profile" %}">Profile</a></li>
            {% if user.is_authenticated %}
                <li>
                    <form id="logout-form" method="post" action="{% url "logout" %}">
                        {% csrf_token %}
                        <button type="submit" class="link-button">Logout</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url "login" %}">
                    Login
                </a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<div class="location-name">
    <h1>{{ location.name }}</h1>
</div>
{% if location.cuisine_type %}
    <div class="location-description">{{ location.cuisine_type }}</div>
{% endif %}
<div class="rating">{{ location.rating }} out of 5 stars</div>
{% if isFavorite %}
    <div class="favorites-button">
        <form action="{% url 'removeFavorite' location.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Remove from favorites</button>
        </form>
    </div>
{% else %}
    <div class="favorites-button">
        <form action="{% url 'addFavorite' location.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Add to favorites</button>
        </form>
    </div>
{% endif %}
<div class="contact-info">
    To get in contact, call {{ location.contact_info }}
</div>

<div class="address">{{ location.address }}</div>
<iframe
  width="600"
  height="400"
  frameborder="0" style="border:0"
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key={{ api_key }}&q=place_id:{{ location.place_id }}"
  allowfullscreen>
</iframe>

{% if user.is_authenticated %}
    <h5>Want to leave a review?</h5>
    <form class="new-review" method="POST" action="{% url 'addReview' location.place_id %}">
        {% csrf_token %}
        <input type="number" id="new-score" name="score" placeholder="Enter your score out of five" min="0" max="5" required>
        <textarea type="textarea" id="new-text" name="text" placeholder="Enter the text for your review" required></textarea>
        <button type="submit" id="new-submit" name="new-submit">Submit</button>
    </form>
{% else %}
    Not authenticated
{% endif %}

<h3>Reviews</h3>
{% for review in location.review_set.all %}
    <div class="review">
        <div class="review-user">{{ review.user }}</div>
        <div class="review-score">{{ review.score }} out of 5 stars</div>
        <div class="review-date">{{ review.date }}</div>
        <div class="review-text">{{ review.text }}</div>
    </div>
{% empty %}
    <p>No one's posted any reviews yet</p>
{% endfor %}
 
  
</body>


</html>

