<html lang="en">
<head>
   <title>
       Details + Maps
   </title>
</head>
<body>

<p>{{ location.name }}</p>
<a href="{% url "location" location.pk %}">click link</a>
{% if isFavorite %}
    <form action="{% url 'removeFavorite' location.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Remove from favorites</button>
    </form>
{% else %}
    <form action="{% url 'addFavorite' location.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Add to favorites</button>
    </form>
{% endif %}

<iframe
  width="600"
  height="400"
  frameborder="0" style="border:0"
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key={{ api_key }}&q=place_id:{{ location.place_id }}"
  allowfullscreen>
</iframe>
 
  
</body>


</html>

