<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/AtlantaFoodFinder/favorites.css"> <!-- Link your CSS file here -->
    <title>Atlanta Food Finder</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>Atlanta Food Finder</h1>
            </div>
            <ul class="nav-links">
                <li><a href="{% url "index" %}">Home</a></li>
                <li><a href="{% url "profile" %}">Profile</a></li>
                {% if user.is_authenticated %}
                    <li>
                        <form id="logout-form" method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="link-button">Logout</button>
                        </form>
                    </li>

                {% else %}
                    <li><a href="{% url "login" %}">
                        Login
                    </a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
    <section class="favorites">
        <h2>★ Favorites</h2>
        {% for favorite in user.account.favorites.all %}
        <div class="favorite-item">
            <!-- Restaurant Name Link -->
            <a href="{% url 'location' favorite.place_id %}" class="restaurant-name">{{ favorite.name }}</a>
            <!-- Restaurant Info -->
            <span class="restaurant-info">{{ favorite.cuisine }} {{ favorite.price_range }}</span>
            <!-- Favorite Icon -->
            <span class="favorite-icon">★</span>
        </div>
        {% endfor %}
    </section>
</main>



</body>
</html>
